@CHARSET "ISO-8859-1";
#campaign-tabs .form-group{
	float: left;
    margin-bottom: 10px;
    width: 100%;
    color:#212121;
}

#campaign-tabs .form-group label{font-weight: 400}

#campaign-tabs .align-center{
	margin: 0 auto;
	text-align: center;
}

#campaign-tabs .padding{padding: 10px;}
#campaign-tabs .campaign-content-opt-area{margin-top: 15px;margin-bottom: 50px;}
#campaign-tabs .campaign-links-area{float: left;width: 100%;}
#campaign-tabs .links-view{border:1px solid #CCCCCC;padding: 10px;line-height: 22px;max-height: 250px;overflow: scroll;min-height: 150px}
.ck-editor-area{
	margin: 10px 0;
	min-height: 150px;
	border:1px solid #CCC;
	padding: 10px;
}
.radio + .radio, .checkbox + .checkbox{margin-top: 10px}
.individual-search-panel{padding: 10px 0;border:1px solid #FEA71F;background: #F6F6FB;width: 100%;margin-bottom: 10px;}
#campaign-tabs .hide{display:none}
#campaign-tabs .show{display:block}
#campaign-tabs .checkbox{text-transform: capitalize;margin-top: 0;}
.btn-remove{
	padding:0 5px 2px 5px;
	cursor: pointer;
	color:red;
	border-radius:10px;
	border:1px solid red;
}
.radio{display: block}
.no-padding{padding: 0 !important}
.custom-table{
	margin-bottom: 0px;
	padding-bottom: 0px;
	border-bottom: 0px !important;	
}
.table > thead > tr > th{
	padding-top: 15px !important;	
}

/*******Unsubscribe JSP**********/
#unsubscribe-page .bar{
    border-bottom: 1px solid #dbdbdb;
	height: 20px;
	padding: 5px;
	width: 100%;
}
#unsubscribe-page .top-bar{
	background: #f06d00;
}	
#unsubscribe-page .bottom-bar{
	background: #ebebeb;
}	
#unsubscribe-page .container{
	background: #fbfbfb;
	padding: 10px;
	color:#222;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

#unsubscribe-page .remark-area{
	background: #FFF;
	border:1px solid #CCC;
	border-radius:5px;
	-ms-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	padding: 10px;
	width: 100%;
	margin: 40px auto;
}


#unsubscribe-page label{margin-bottom: 10px;}
.alert-area{height: 35px;padding: 8px;margin: 0 auto;text-align: center;}
.mandatory{font-size: 8px;}
