@CHARSET "ISO-8859-1";

div#login-box{
	margin-top:15%;
}

.huge {
  font-size: 40px;
}

.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}
.panel{
	margin-bottom: 5px;
}
.btn-dashboard {
	color: #fff;
    background-color: #f68c28;
    border-color: #f68c28;
}
.btn-dashboard:hover {
	color: #fff;
	background-color: #ff8040!important;;
}

.btn-reve {
    color: #fff;
    background-color: #f68c28;
    border-color: #eea236;
}
.btn-reve:hover{
    color: #fff;
    background-color: #ff0000;
    border-color: #eea236;
}

.btn-reve:focus{
    color: #fff;
    background-color: #ff8040;
    border-color: #eea236;
}
.btn-success:active{
 color: #fff;
    background-color: #f68c28;
    border-color: #eea236;
}

body {
	background-color: #FFFFFF;
	background-position: top;
	background-repeat: repeat-x;
	overflow: scroll;
}

a img {
	border: none;
}

.headerTop {
	background-image: url("../images/header_bg.jpg");
	clear: both;
	height: 96px;
}

img#reveLogo {
	margin: 15px 0;
}

div#footer {
	color: #000000;
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 8px;
	text-decoration: none;
	clear: both;
	background-image: url("../images/footer_bg.jpg");
	background-repeat: repeat-x;
	width: 100%;
}

.content-fluid {
	border: 1px solid #E4E4E4;
	box-shadow: 0 0 6px #CCCCCC;
}

.rqst-hservic,.installment-add {
	margin-left: 0px !important;
	margin-top: 10px;
}

.installment-add {
	margin-left: -20px !important;
}

.byte-saver {
	margin-left: 15px !important;
}

.byte-svr-assigned {
	margin-left: -22px !important;
}

#coverStoryContainer {
	padding-top: 5px;
	background: #F9F9F9;
	padding: 0 0px 5px;
	width: 703px;
	margin-top: -10px
}

#coverStory {
	padding: 0 10px;
}

#sotryTop {
	margin-top: -2px;
}

.storyContent {
	line-height: 20px;
}

#weeklyNewsletter {
	color: #FF7400;
	font-size: 18px;
	margin-left: 20px;
}

.storyHeading {
	font-size: 20px;
	color: #494848;
}

.box {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	outline: 1px solid #D4D1D1;
	border: 5px solid #EDEDED;
	width: 285px;
	float: left;
}

.box h4 {
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 10px;
	font-size: 18px;
}

#news .heading {
	color: #F67521;
	font-size: 11px;
	margin: 5px 0;
}

#news p {
	color: #000000;
	font-size: 11px;
	margin: 5px 0;
}

#news p a {
	color: #000000;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

#boxContainer,.allstories {
	width: 703px;
	margin: 10px 0 !important;
	float: left;
	clear: both;
}

.allstories {
	width: 100%
}

select option {
	vertical-align: middle;
}

#leftBox {
	float: left;
}

#rightBox {
	float: right;
}

#switchAdv {
	display: none;
}

#navPanelBottom {
	width: 370px;
	margin: 20px auto 10px;
}

.unverified {
	color: red !important;
}

.verified,.verified a {
	color: green !important;
}

.capitalize {
	text-transform: capitalize !important;
}

#prevNavBtn {
	margin-left: 10px;
}

#nextNavBtn {
	float: right !important;
	margin-right: 10px;
}

#prevNavBtn,#nextNavBtn {
	margin-top: 20px !important;
}

.stories-descrip {
	width: 685px;
	padding: 5px 10px 5px 0;
	margin-top: 15px;
	font-size: 13px;
	line-height: 19px;
	text-align: justify;
}

.stories-box {
	width: 47.6%;
	padding: 5px;
	float: left;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	margin-bottom: 18px
}

.stories-box:first-child {
	margin-right: 7px;
}

.right-stories-box {
	float: right
}

.stories-image,.stories-image img {
	width: 89px;
	height: 84px;
	float: left;
}

.stories-image-desc {
	width: 235px;
	padding: 0px 2px 0 8px;
	float: left;
	text-align: justify;
}

.desc-summary,.desc-readmore {
	width: 100%;
	float: left;
	height: 55px;
	overflow: hidden;
	font-size: 11px;
}

.desc-readmore {
	margin-top: 7px;
	padding: 3px;
	width: 66px;
	height: 16px;
	text-align: center;
	background-color: #7ABA00;
}

.desc-readmore a {
	color: #FFFFFF !important;
}

.ft-text {
	text-align: left;
	text-indent: 50px;
}

.bday-space {
	background-color: #E5ECF9;
	width: 300px;
	height: 70px;
	padding: 5px;
	margin-top: 15px;
}

.bday-cake {
	width: 80px;
	float: left;
	margin-top: 15px;
	margin-right: 5px;
}

.bday-cake img {
	float: right
}

.bday-name {
	width: 165px;
	float: left;
	padding: 20px 5px;
}

.bday-stfont {
	color: #173494;
	font-weight: bold
}

.storyImage {
	width: 300px;
}

.readmorelink {
	color: #FD7400;
	margin-top: 10px;
	padding: 5px;
}

.readmorelink a {
	color: #FD7400;
}

.storyContent {
	height: 175px;
	overflow: hidden;
}

.supportExpired,.supportExpired a {
	color: red !important
}

;
.serviceBlocked,.serviceBlocked a {
	color: #497582 !important;
}

.serviceBlockedAndExpired,.serviceBlockedAndExpired a {
	color: #0CBBCB !important;
}
/*********Modal window style****************/
#openModal .btn_icon {
	color: green;
	font-weight: bold;
	cursor: pointer;
}

.modal-top {
	height: 20px;
	background: url("../images/bg.jpg") repeat-x top center transparent;
	padding: 10px 5px;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
}

.modal-top h1 {
	color: white;
	font-size: 15px;
}

.sub-product {
	float: left;
	margin-right: 5px;
	width: 100px;
}

.interested-check {
	margin-top: 3px;
}

#openModal a {
	text-decoration: none
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(212, 212, 212, 0.5);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.no-underline {
	text-decoration: none
}

.modalDialog>div {
	width: 700px;
	position: relative;
	margin: 10% auto;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #CCC);
	background: -webkit-linear-gradient(#fff, #CCC);
	background: -o-linear-gradient(#fff, #CCC);
}

.modalDialog small {
	font-size: 9px;
}

.email-text {
	padding: 10px;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	border-color: green;
	border-radius: 0 0 10px 10px;
}

.mail-body-text {
	margin-top: 8px;
	border: 2px solid #FF7300;
	background: #FFFFFF;
	width: 650px;
	height: 150px;
	text-align: left;
	font-size: 13px;
	padding: 10px;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.more-ip,.remove-ip {
	cursor: pointer;
	font-size: 18px;
	color: green;
	font-weight: bold;
}

.dataDisplayTable {
	width: 100%;
}

.ip-row {
	float: left;
	margin-top: 10px;
	width: 100%;
}

.remove-ip {
	color: red
}

.label {
	color: #000;
	font-size: 12px;
	font-weight: normal;
}

.close:hover {
	background: #00d9ff;
}

-webkit-transition: opacity 400ms ease-in ;
-moz-transition: opacity 400ms ease-in ;
transition: opacity 400ms ease-in ;

#reminderBtn {
	position: fixed;
	bottom: 0;
	right: 10px;
}

.capitalize {
	text-transform: capitalize;
}

.advancedField {
	display: none;
}

table.table-borderless,table.table-borderless td {
	border: none !important;
	border-width: 0;
}

.col-label {
	width: 200px;
	font-weight: bold;
}

.col-colon {
	width: 20px;
}

img.verified {
	width: 20px !important;
}

.display-inline {
	display: inline;
}

.span-legend {
	padding-top: 7px;
	padding-bottom: 9px;
	margin-left: 5px;
}

@
-moz-document url-prefix () { .span-legend { top:1px;
	
}

}
.div-page-title {
	font-size: 20px;
	color: orange;
	background: none !important;
}

#page-content {
	margin: 15px 0px;
}

.mandatory {
	color: red;
}

.child-field {
	padding-left: 50px;
}

input[readonly~=readonly] {
	border: none;
}

.table-search {
	width: 100%;
}

.table-search tr td,.table-search tr th {
	padding: 1px;
}

table-search tr th {
	text-align: center;
}

.submit-btn-margin {
	margin: 0px 30px 0 0;
}

.clearfix-height {
	height: 40px;
}

table#table-search-panel tr td input.form-control,table#table-search-panel tr td select.form-control
	{
	width: 150px !important;
	height: 30px !important;
}

body {
	font-size: 12px;
}

.alert-block-and-expired {
/* 	color: white; */
/* 	background-color: #ed4c8f; */
	color: #ed4c8f;
	font-weight: bold;
}

.alert-block-and-expired a{
/* 	color: white; */
	color: #ed4c8f;
}

.alert-blocked {
/* 	color: white; */
/* 	background-color: #497582; */
	color: #660066;
	font-weight: bold;
}

.alert-blocked a {
/* 	color: white; */
	color: #660066;
}

.alert-expired{
/* 	color: white; */
/* 	background-color: #fe0000; */
	color: #fe0000;
	font-weight: bold;
}

.alert-expired a{
/* 	color: white; */
	color: #fe0000;
}

.label-block-btn {
	color: white;
	display: block;
	margin: 2px 0;
	padding: 5px 0;
}

.block {
	width: 100%;
}


.panel-info>.panel-heading .badge{
	color:#ffffff;
	background-color: #0d82bb;
}