
.box2{border:1px solid #f37003;padding-left:5px;padding-right:5px;}
.box2 .box-icon{font-size: 60px;text-align:center;  color: #f37003;}
.box-panel{border:none;box-shadow:none; margin-bottom: 0;}
.box-panel .panel-heading {
  background: #f37003 none repeat scroll 0 0;
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff;
  font-size: 18px;
  padding: 1px;
  text-align: center;
}
.box-panel .panel-body {
    padding: 3px 15px;
}
.box-panel .box-row{background:#e9e9e9;margin-bottom:2px;}
.box-panel .box-row p {
   margin: 2px 0;
}
.box-panel .box-row h1 {
  color: #f37003;
  letter-spacing: 5px;
  margin-top: 14px;
  text-align: center;
}
.box-panel .small-box {
display: table-cell!important;
min-height: 65px;
text-align: center;
vertical-align: text-bottom!important;
}
.box-panel .small-box:first-child {
  border-right:2px solid #ffffff;
  padding-top: 24px;
}
#sales_table thead > tr > th{background-color:#f37003;text-align:center;border-bottom-color:#f37003;color:#ffffff; padding: 3px;}
#sales_table tbody > tr > td{text-align:center;}

#pbx_download_table thead > tr > th{background-color:#f37003;border-bottom-color:#f37003;color:#ffffff; padding: 3px;}
#pbx_download_table tbody > tr > td{border-top: 1px solid transparent;
    line-height: 1.42857;
    padding: 1px 8px;
    vertical-align: top;}
.zone-based-payment{min-height: 97px;}	
.zone-based-payment p{color: #f99000;}	
.sales {
  border-right: 3px solid #f37003;
  margin-top: 30px;
  text-align: center;
}
.sales-chart{text-align:center;}
.usr-pic {
  background: #e9e9e9 none repeat scroll 0 0;
  padding-top: 20px;
  text-align: center;
}
.usr-pic i{color:green;}

@media(max-width:767px){

}

