@CHARSET "ISO-8859-1";

.loginContent {
	max-width: 980px;
	margin: auto;
}

.loginFormContainer {
	
}

.loginForm {
	height: 362px;
	max-width: 502px;
	background-image: url("../resources/images/login-form-bg.jpg");
	background-repeat: repeat-x;
}

.boxHeader {
	color: #5B5B5B;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 0.37px;
	padding: 20px 0 0 30px;
}

table.loginTable {
	margin: 30px auto 20px;
}

td.label {
	background: #FF7300;
	color: #ffffff;
	font-size: 23px;
	font-weight: bold;
	height: 35px;
	max-width: 100px;
	padding: 0 19px 8px;
	text-align: center;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

td.field {
	
}

input.inputField {
	background-image: url("../resources/images/input-bg.jpg");
	background-repeat: repeat-x;
	border:;
	color: #333333;
	font-size: 17px;
	height: 33px;
	max-width: 230px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.loginBtn {
	margin-top: 50px;
}

.lgn-footerimg {
	margin-left: 23.69%;
}