body{
	background-color: #F5F5F5;
}

/*******Navbar*******/
#searchFieldsTable{margin-top: 25px;}
#searchFieldsTable td input[type=text],
#searchFieldsTable td select{
	width: 220px;height: 22px;margin:1px 3px 5px 0;
}
.navbar-default {
    background-color: #F5F5F5;
    border-color: #E7E7E7;
}
.top-bar-bg{
	background:url("../images/topbar-bg.jpg") repeat-x;
	 margin-bottom: 18px;
}
.top-bar-content,.top-menu-content{
	 width: 1140px ;
}
.top-menu-content{
	 margin-top: 18px;
}
.top-bar-collapse{
 padding: 0;
 margin:0;
}
.reve-logo{
 padding: 0;
}

.navbar-nav > li > a{
padding-top: 6px;
padding-bottom: 10px;
}
.li-fb{
  margin-top: 1px;
  padding-top: 15px;
}
.li-linkd{
  margin-top: 6px;
  padding-top: 15px;
}
.li-utube{
  margin-top: -1px;
  padding-top: 15px;
}
.li-twt{
  margin-top: 3px;
  padding-top: 15px;
}
a.nav :hover{
color: #ffffff;
}
.navtoggle{
 margin-top: 0;
 margin-bottom: 0;
}
.menu-bg{
	background:#FF6C00;
	color: #FFFFFF !important;
	height: inherit;
	border-radius:6px;
	-webkit-border-radius:8px;
	-ms-border-radius:8px;
}
.menu-bg a{color:#FFF !important;}
.pr-posts-change:hover{text-decoration: none;color:#FF6C00}
.pr-posts-change{text-decoration: none;color:#545353}
.pr-area{margin: 15px 0 5px 0 !important}
.popular-link{margin-left: 7px;}
.pr-color{color:#428BCA}
.successMessage {
	color: #4F8A10;
	background-color: #DFF2BF;
	font-size: 12px;
	text-align: center;
	padding: 10px;
	width: 97%;
	border: 1px solid green;
	margin:5px auto auto auto;
}
.errorMessage{
	color: red;
	font-size: 12px;
	text-align: center;
	padding: 10px;
	width: 97%;
	border: 1px solid red;
	background: #FFAAAA;
	margin:5px auto auto auto;
	
}
/*******End Navbar*******/
/*******Footer*******/
footer {
    background: #515151;
	color: white;
	height: 45px;
    margin: 40px 0;
    padding: 10px 0;
	font-size: 12px;
}
.footer-content{
  margin-left: 23px;
}
/*******End Footer*******/
/*******Main content*******/
/*******left div start*****/
.mid-content{
	width: 1140px ;
	margin-top: 12px;
}
.left-div{
	width: 781px ;
}
.banner,
.banner img{
   width: 781px ;
   height: 490px;
}
.banner img{
   margin-left: -15px;
}

.banner-zindex{
	bottom: 20px;
	left: 20px;
    position: absolute;
    z-index: 1;
	opacity:0.8;
}
.banner-zindex2{
	bottom: 20px;
    position: absolute;
    z-index: 1;
	opacity: .9;
	background-color: #454545;
	width: 96% !important;
}
.media-body p{
	
}
/******ALL text and fonts***********************/
.banner-heading-text
{
	 color: #FFFC00;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 25px;
    font-weight: lighter;
    line-height: 1.1;
    max-height: 44px;
    padding: 0 30px 10px 0;
    text-align: center;
}
.banner-heading-text{
    padding: 12px 30px 10px 0;
}

.banner-descrip-text{
   color: #FFFFFF;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0 20px 3px 0;
    padding: 0;
    text-align: left;
}
.heading-text,
.blog-heading-text,
.blog-storyheading-text,
.success-heading-text,
.wow-heading-text,
.press-heading-text,.popular-heading-text,.press-heading-text1{
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 18px;
    padding: 0;
    text-align: justify;
    word-spacing: -1.7px;
}
.blog-heading-text{
	color: #22CBF5;
	max-height: 44px;
}
.blog-storyheading-text{
    color: #1E7498;
    font-size: 14px;
    font-weight: bold;
    word-spacing: -1px;
}
.blog-storyheading-text:hover{
    color: #ff6c00;
    text-decoration: none;
}
.success-heading-text{
color: #8F52DB;
}
.wow-heading-text{
color: #58AB11;
}
.press-heading-text{
color: #C652D4;
}
.press-heading-text1{
color: #C652D4;
}
.press-heading-text1:hover{
color: #ff6c00;
text-decoration: none;
}
.popular-heading-text{
    color: #1E7498;
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
}
.popular-heading-text:hover{
    color: #ff6c00;
    text-decoration: none;
}
.testimonial-heading-font{
  font-family: "Oswald",Helvetica,Arial,sans-serif;
 font-size: 17px;
 color: #FF6C00;
}
.date-text,.blog-date-text,.blog-storydate-text,.success-date-text,.wow-date-text,.press-date-text,.popular-date-text,.testimonial-date-font{
 font-family: "Open Sans",Helvetica,Arial,sans-serif;
 font-size: 15px;
 color: #B9B9B9;
}
.testimonial-date-font{
 font-size: 15px;
 color: #5C5C5C;
}
.popular-date-text{
 font-weight: normal;
}
.content-text,.blog-content-text,.success-content-text,.wow-content-text,.press-content-text{
    color: #000000;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 13px !important;
    padding: 8px 0 0;
    text-align: justify;
}
.blog-content-text{
    color: #8F8F8F;  
}
.bubble-text{
    color: #8F8F8F;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 12px;
    padding: 10px 22px 0 0;
    text-align: justify;
}
/******End text and fonts***********************/
.banner-read-more{
 color: #FFFC00;
 font-family:"Open Sans",Helvetica,Arial,sans-serif;
 font-size: 15px;
 font-weight: semibold;
}

.blog-stories{
	margin-left: 15px;
    margin-top: 35px;
    width: 781px;
     
	
}
.blog{
   background-color: #F5F5F5;
    border-bottom: 5px solid #00C3F4;
    border-top: 5px solid #00C3F4;
    padding-left: 0;
    padding-right: 0;
    width: 379px;
    max-height: 414px;	
}
.blog-zindex{
	top: 0;
	left: 35px;
    position: absolute;
    z-index: 1;
}
.blog-li,.success-stories-li,.wow-stories-li{
 border-radius: 0 !important;
 height: 198px;
    width: 380px;
}
.blog-li{
 height: 198px;
}
.wow-stories-li{
 height: 195px;
}
.small-stories{	
  border-bottom: 5px solid #00C3F4;
    border-top: 5px solid #00C3F4;
    padding-left: 0;
    width: 400px !important;
     max-height: 414px;	
}
.small-stories-li{
 width: 400px !important;
 height: 102px;
 border-radius: 0px !important;

}
.blog-read-more,.success-read-more,.wow-read-more,.press-read-more{
	 color: #FFFFFF;
	 width: 80px;
	 height: 20px;
}
.blog-read-more{
	 background-color: #00C3F4;
    padding: 0 0 0 8px;
    text-align: center;
}
.success-read-more{
background-color: #A05FEF;
}
.wow-read-more{
background-color: #58AB11;
}
.press-read-more{
background-color: #E05FEF;
}	
.success-wow-stories{
	margin-top: 35px;
    padding-left: 30px;
    width: 781px;
}
.success-stories{
    border-bottom: 5px solid #A05FEF;
    border-top: 5px solid #A05FEF;
    margin-left: 0;
    padding: 0;
    width: 380px;
    max-height: 413px;
}
.success-zindex{
	top: 0;
	left: 35px;
    position: absolute;
    z-index: 9999;
}
.wow-stories{
	border-bottom: 5px solid #6FC922;
    border-top: 5px solid #6FC922;
	margin-left: 20px;
    padding: 0;
    width: 380px;
    max-height: 413px;
}
.wow-zindex{
	top: 0;
	left: 35px;
    position: absolute;
    z-index: 1;
}
.press-releases{
    border-top: 5px solid #E05FEF;
	border-bottom: 5px solid #E05FEF;
    margin-top: 42px;
    padding-left: 0;
    width: 781px;
    max-height: 416px;
}
.press-releases-li{
 width: 781px ;
  border-radius: 0px !important;

}
.press-media{
 padding-top: 36px;
}
.press-zindex{
	top: 0;
	left: 20px;
    position: absolute;
    z-index: 1;
}
.testimonials-zindex{
	left: 300px;
    position: absolute;
    top: -16px;
    z-index: 1;
}
.testimonials-arrow{
 margin-top: -42px;	
}
.testimonials-next-arrow{
	background:url("../images/nxt.png") no-repeat;
	height: 30px;
    margin-left: 62px;
    margin-top: -30px;
    padding-right: 0;
    width: 10px;
}
.testimonials-next-hov-arrow{
	  background: url("../images/nxt_hover.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    margin-left: 62px;
    margin-top: -30px;
    padding-right: 0;
    width: 10px;
}
.testimonials-prev-arrow{
	background: url("../images/pre.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    margin-left: 46px;
    padding-right: 0;
    width: 10px;
}
.testimonials-prev-hov-arrow{
	background:url("../images/pre_hover.png") no-repeat;
	height: 30px;
    margin-left: 46px;
    padding-right: 0;
    width: 10px;
}
.testimonials{
	 border-top: 1px solid #FF6C00;
    margin-top: 40px;
    padding: 54px 0 0 15px;
    width: 781px;
}
.speech-bubble-1,.speech-bubble-2{
	background-color: #ffffff;	
	width: 370px;
	border: 1px solid #E0E0E0;
	padding: 0;
}
.speech-bubble-2{
	margin-left: 35px;
}
.bubble{
	background:url("../images/speech-bubble.jpg") no-repeat;
	height: 135px;
}
.speech,.speech-second{
  padding-left: 15px;
  width: 270px;
}
.speech-second{
	 padding-right: 10px;
	 padding-top: 33px;
}
.speech-image,.bubble2-image{
   margin-right: 0;
    margin-top: 25px;
    padding-left: 0;
}
.bubble2-image{
	 margin-top: 30px;
	 padding-left: 32px;
}
.speaker{
 margin-left: 0;
 padding: 0 0 0 15px;
}
.speaker2{
  
    padding: 0 0 0 15px;
}
/*******left div end***********/
/********Right div start********/
.right-div{
	margin-left: 42px;
    padding: 0;
    width: 330px !important;
}
.popular-recent,.popular-link,.recent-link{
	 margin-bottom: 12px;
    margin-left: 57px;
    margin-top: 4px;
    font-size: 16px;
    color: #545353;
}
.popular-link{
 color: #FF6C00;
}
.recent-link{
  text-align: left;
  margin-left: 2;
}
.popular-content{
	margin-left: 13px;
    width: 120px;
}
.recent-content{
}
.right-div-width,.popular,.birthday,.holidays,.events,.elavator,.smile{
	margin-top: 30px;
}
.popular{
	 background-color: #FFFFFF; 
	margin-top: 0;
    padding: 0;
	border: 1px solid #ddd;
}
.popular>ul>li{
	width: 328px !important;
	border: 0;
}
.popular-list-item{

}
.popular-middle-border{
	
}
.birthday{
	padding: 0;
}
.birthday-uname{
    background-color: #FFFFFF;
    color: #E90588;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 7px;
    z-index: 1;
}
.wish{
 font-family: "Open Sans",Helvetica,Arial,sans-serif;
 color: #545353;
 font-style:normal
}
.birthday-gender{
	 background-color: #FFFFFF;
    color: #545353;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 26px;
    font-weight: 500;
    left: 106px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 47px;
    z-index: 1;
}
.holidays{
	background-color: #FFFFFF;	
	font-size: 14px;
}
.holidays-th{
	 color: #5F5E5E;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 17pt;
    margin-right: 0;
    padding: 5px 0 16px 34px;
    text-align: left;
    width: 330px !important;
}
.holidays>tr>td{
  border-top: 1px solid #DDDDDD;
    line-height: 1.42857;
    padding: 8px 8px 10px;
    vertical-align: top;
}
.holidays-font{
     font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-style:normal;
	font-size: 13px;
	color: #545353;
}
.events{
	padding: 0;
}
.elavator{
	padding: 0;
}
.smile{
	padding: 0;
}

.media:first-child {
    margin-bottom: 0;
    margin-top: 5px;
}

/******post details css*****/
.main-content {
    padding-right: 0px;
}
.postdetails-content {
    margin-top: 18px;
    width: 1140px;
    margin-left: 60px;
}
.blog-bg{
	background:url("../images/blog-bg.jpg") repeat-x;
	height: 62px;
	margin-top:15px;
}
.blog-font{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 35px;
}
.postdetails-left-div{	
    background-color: #FFFFFF;
    border: 1px solid #D5D5D5;
     margin: 0 0 0 10px;
    padding: 0;
    width: 783px;	
	
}
.banner-blog-details,
.banner-blog-details img{
   width: 781px ;
   height:350px;
}
.banner-blog-details img
{
   margin-left: -15px;
}
.likes-bar{
 background-color: #FFFFFF;
    border-bottom: 1px solid #D5D5D5;
    border-top: 1px solid #D5D5D5;
    height: 30px;
    margin: 15px 0 0 14px;
    padding: 0 15px 0 15px;
    width: 750px;
}

.clock,.postedby,.like-post{
 color: #8A8A8A;
}
.clock{
 margin-top: 3px;
}
.postedby{
 margin-top: 3px;
}
.like-post{
 margin-top: 3px;	
 text-align:right;	
 color: #22CBF5;
 padding-right: 7px;
}
.post-details,.comments-details,.comments-post{
	float:left;
	width: 781px ;
	background-color: #FFFFFF;	
}
.post-details{
	margin-top: 15px;	
}
.comments-details{
    margin-top: 145px;
     padding-left: 0px;	  
}
.comments-post{
	margin-top: 60px;
	 padding-left: 0px;
}
.post-details-heading-text{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
   color: #22CBF5;
    font-size: 21px;
    padding:0;
}
.post-details-content-text{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	  padding: 8px 0 0;
}
.comments-box{
	background-color: #ffffff;
 margin: 10px 0 0 0;
 border-top: 1px solid #D5D5D5;
}
.comm-clock{

}
.comments-ul{
	 padding-left: 0px;
	padding-right: 0px;
}
.comments-ul-list{
 margin-bottom: 20px;
 padding-left: 15px;
}
.comments-li{
	border-left: medium none;
    border-right: medium none;
    border-bottom: medium none;
    padding: 10px 0px;
    
}
.comments-post-li{
	padding: 10px 0 0px 0px;
	margin-left: 15px;
	border-left: medium none;
	border-right: medium none;
	border-bottom: medium none;
}
.comm-count,.leave-comments{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 24px;
	width: 202px;
	color: #B9B9B9;
	border-bottom: 3px solid #00C3F4;
    left: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: left;
    top: -48px;
    z-index: 1;
}
.comm-count{
	 top: -49px;
}
.comm-count-text,.leave-comments-text{
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 24px;
	color: #B9B9B9;
}
.view-comm-box{
 border: 1px solid #D5D5D5;
}
.comments-date-text{
 font-family: "Open Sans",Helvetica,Arial,sans-serif;
 font-size: 15px;
 color: #B9B9B9;
}
.user-comments-view{
  border: 1px solid #D5D5D5;
    border-radius: 5px;
    color: #808080;
    font-size: 12px;
}
.comment-button{
    background-color: #00C3F4;
    border-color: #00C3F4;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    height: 48px;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 170px;
}
.comments-btn{
	float: right;
	margin: 0 -2px 53px 0;
	padding-right: 0px;
}
.post-right{
	margin-left: 30px;
	padding: 0;
	width: 330px !important;
}
/**************end post details css****************/

/*******DashBoard*******/
 .dashbord-main{
  width: 1107px;
  border: 1px solid;
  padding: 0px;
  margin-top: 120px;
 }
 .dashbord-header{
  background:#1A79B3;
  height: 35px;
 }
 .search-header{
  background:#1A79B3;
  height: 35px;
  margin-top: 5px;
 }
 .dashboard-action{
    margin-top: 10px;
 }
 .update-success-message{
 
 }
 .dashbord-header a{color: #FFF;}
 .dashbord-header a:hover{color: #1A79B3;}
 .dashbord-form{
 width: 885px;

 }
.dashbord-title{
 margin-top: 55px;
 padding-right: 0px;
}
.title-control{
 font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 15px;
 background-color: #FFFFFF;
 border-radius: 0px;
 height: 41px;
 width: 716px;
 
 box-shadow: none;
}
.dashbord-photo{
	margin-top: 45px;
	padding-left: 0;
	padding-right: 15px;
}
.photo-upload{
 
	-moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    height: 41px;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 153px;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    color: #9B9B9B;
}
.photo-inset-icon{
	top: 22px;
	left: 12px;
    position: absolute;
    z-index: 1;

}
.photo-control{
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 16px;
	float: right;
	background-color: #FFFFFF;
	color: #9B9B9B;
	width: 153px;
	height: 41px;
	padding-right: 0px;
}
.fileUpload {
	margin: 10px 10px 10px 0;
    overflow: hidden;
    position: relative;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	opacity: 0;
	filter: alpha(opacity=0);
}

.dashbord-textarea{
margin-top: 20px;
padding-right: 0px;
}
.textarea-control{
 background-color: #FFFFFF;
 border-radius: 0px;
 height: 41px;
 padding-right: 0px;
}
.dashbord-tags{
margin-top: 15px;
padding-right: 0px;
}
.tags-control{
 font-family: "Open Sans",Helvetica,Arial,sans-serif;
 font-size: 15px;
background-color: #FFFFFF;
 border-radius: 0px;
 height: 41px;
 padding-right: 0px;
}
.dashbord-publish{
   margin-bottom: 75px;
   margin-left: 758px;
   margin-top: 20px;
   padding-right: 0;
}
.publish-control{
 width: 125px;
 height: 35px;
}
.comment-button{
    background-color: #00C3F4;
    border-color: #00C3F4;
    color: #FFFFFF;
    display: inline-block;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    height: 48px;
    line-height: 1.42857;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 170px;
}
.comments-btn{
	float: right;
	margin: 0 -2px 53px 0;
	padding-right: 0px;
}
.dashbord-copyright{
 padding-left: 124px;
}
.small-story-auto-width{
	width: inherit !important;	
	height: 120px;
}
.heading-text-2{color: #00C3F4}
.heading-text-3{color: #A05FEF}
.heading-text-4{color: #58AB11}
.readmore-2{background: #00C3F4}
.readmore-3{background: #A05FEF}
.readmore-4{background: #58AB11}
.active-link-color{color:#FF6C00}
#employeesCorner{width:325px;}
.magazine-employee-corner{padding-left:0px;padding-right:0px;}
#ecDD li{margin-top: 10px;}
#ecDD li a{width:325px;}
/*.testimonials-prev-arrow,
.testimonials-next-hov-arrow{cursor: pointer;}
.testimonials-area{
	width: 800px;
	float: left;
	overflow: hidden;
}
.testimonials-details{
	
}
.testimonal-slot-1{
	left: 0%;
    position: static;
}
.testimonal-slot-2{
	left: 100%;
    position: absolute;
    visibility: hidden;
}*/

/**************Dash BOARD end*****************/
#camera_wrap_1{
	width: 770px;
	margin-bottom: 20px!important;
}
#ss-wf-container {
	width: 770px;
	margin-left: -15px;
}
#ss-top {
	position: relative;
	z-index: 100;
}
#success-story, #wow-factor {
	position: relative;
	top: -27px;
}

#success-story *{
	padding: 0;
}

#success-story-container {
	height: 324px;
	width: 380px;
	background-color: #a05fef;
}
#wow-factor-container {
	height: 324px;
	width: 380px;
	margin-left: 5px;
	background-color: #6fc922;
}

#pr-container {
	position: relative;
	background-color: #e05fef;
	width: 770px; 
}
#pr {background: white; width: 770px; padding: 15px 10px;}
.pr-img{position: absolute!important;}
.line{height:05px}