/*
 * metismenu - v1.0.3
 * Easy menu jQuery plugin for Twitter Bootstrap 3
 * https://github.com/onokumus/metisMenu
 *
 * Made by Osman Nuri Okumuş
 * Under MIT License
 */
.arrow {
    float: right;
}

.glyphicon.arrow:before {
    content: "\e079";
}

.active > a > .glyphicon.arrow:before {
    content: "\e114";
}


/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.menuitem{
	background-color: #f68c28;
	border: 1px solid #f68c28;
	margin: 5px;
    color: #ffffff !important;
    display: block!important;
    font-size: 12px!important;
    font-weight: bold!important;
    height: 36px!important;
    padding-left: 12px!important;
    padding-top: 11px!important;
    position: relative!important;
    text-decoration: none!important;
    width: auto;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.plus-times {
    float: right;
}

.fa.plus-times:before {
    content: "\f067";
}

.active > a > .fa.plus-times {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plus-minus {
    float: right;
}

.fa.plus-minus:before {
    content: "\f067";
}

.active > a > .fa.plus-minus:before {
    content: "\f068";
}
.sidebar{
	background: none;
}
.sidebar-nav{
	padding: 0px;
}
.nav-second-level li{border-bottom:1px solid #ff7400 !important;display: block;}
.nav > li > a:hover{background-color: #ff7400 !important; color: white}
.nav > li > a{color:#484848}
.nav > li { background: none!important;}
.list-group-item{
	display: block !important;
	margin-bottom:10px !important;
	padding: 0px;
	border:1px solid #f68c28 !important;
    border: 1px solid #DDDDDD;
    display: block;
    margin-bottom: -1px;
    padding: 0 !important;
    position: relative;
    width: auto;
}